form a {
  margin-left: 5px;
}
body {
  padding-top: 54px;
  height: 100%;
}
.body-container {
  min-height: calc(100vh - 70px);
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
.footer-page{
  background-color: #343a40;
  height: 50px;
  text-align: center;
}
.footer-page p {
  color: white;
}
